.color1{
    height: 150px;
    background-color: red;
}
.color2{
    height: 150px;
    background-color: blue;
}
.color3{
    height: 150px;
    background-color: blueviolet;
}
.color4{
    height: 150px;
    background-color:orange;
}
.color5{
    height: 150px;
    background-color: green;
}